<%= simple_form_for([@restaurant, @table, @reservation]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= field_set_tag 'Restaurant' do %>
          <%= @restaurant.to_label %>
      <% end %>

      <%= field_set_tag 'Table' do %>
          <%= @table.to_label %>
          <%= f.hidden_field :table_id %>
      <% end %>

      <%= f.input :starts_at, start_year: Date.today.year, end_year: Time.now.year + 1, start_hour: @restaurant.opened_at.strftime("%H").to_i, end_hour: @restaurant.closed_at.strftime("%H").to_i, minute_step: 30 %>
      <%= f.input :ends_at, start_year: Date.today.year, end_year: Time.now.year + 1, start_hour: @restaurant.opened_at.strftime("%H").to_i, end_hour: @restaurant.closed_at.strftime("%H").to_i, minute_step: 30 %>

      <%= field_set_tag 'Visitor' do %>
          <%= f.simple_fields_for :visitor, @reservation.visitor do |vf| %>
              <%= vf.hidden_field :id unless @reservation.visitor.new_record? %>
              <%= vf.input :name %>
              <%= vf.input :phone %>
              <%= vf.input :note %>
              <%= vf.input :number_persons, input_html: {min: 1} %>
          <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
